[
    {
        "fips": "012057",
        "name": "Hillsborough County",
        "state": "FL",
        "ugc": "FLC057"
    },
    {
        "fips": "008005",
        "name": "Arapahoe County",
        "state": "CO",
        "ugc": "COC005"
    },
    {
        "fips": "008035",
        "name": "Douglas County",
        "state": "CO",
        "ugc": "COC035"
    },
    {
        "fips": "029071",
        "name": "Franklin County",
        "state": "MO",
        "ugc": "MOC071"
    },
    {
        "fips": "047065",
        "name": "Hamilton County",
        "state": "TN",
        "ugc": "TNC065"
    }
]
